name: ci

on:
  push:

jobs:
  build:
    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        java: [ '8', '17', '21' ]
        platform: [ 'ubuntu-latest', 'macos-12', 'windows-latest' ]
        exclude:
          - platform: ${{ github.repository == 'open-coap/kotlin-mbedtls' || 'macos-12' }}


    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Enable using libraries from temporary location in mac
        if: ${{ matrix.platform == 'macos-12' }}
        run: sudo spctl --master-disable

      - name: Build with Gradle
        run: ./gradlew build -i

  publish:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Publish with Gradle
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -i
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_ossrhUserName: ${{ secrets.OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.OSSRH_PASSWORD }}
