name: ci

on:
  push:

jobs:
  build:
    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        java: [ '17', '21' ]
        platform: [ 'ubuntu-latest', 'macos-latest', 'windows-latest' ]
        exclude:
          - platform: ${{ github.repository == 'open-coap/kotlin-mbedtls' || 'macos-latest' }}


    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew build -i

  publish:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 8
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Publish with Gradle
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -i
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_ossrhUserName: ${{ secrets.OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.OSSRH_PASSWORD }}

      - name: Manual release
        run: |
          AUTH_TOKEN=$(echo -n "${{ secrets.OSSRH_USERNAME }}:${{ secrets.OSSRH_PASSWORD }}" | base64)
          curl -X POST \
            -H "Authorization: Bearer $AUTH_TOKEN" \
            https://ossrh-staging-api.central.sonatype.com/manual/upload/defaultRepository/io.github.open-coap?automatic=true
