name: compile

on:
  push:
    paths:
      - 'compileMbedtls.sh'
      - '.github/workflows/compile-mbedtls.yml'
      - '**/src/**/*.c'
  workflow_call:
    inputs:
      mbedtlsVersion:
        type: string
        required: false

jobs:
  compile-linux:
    name: "compile: linux-x86-64"
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Compile
        env:
          MBEDTLS_VERSION: ${{ inputs.mbedtlsVersion }}
        run: ./compileMbedtls.sh
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-x86-64
          path: mbedtls-lib/bin/linux-x86-64/*
          if-no-files-found: error

  compile-macos:
    name: "compile: macos"
    timeout-minutes: 5
    if: github.repository == 'open-coap/kotlin-mbedtls'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Compile
        env:
          MBEDTLS_VERSION: ${{ inputs.mbedtlsVersion }}
        run: LDFLAGS='-arch x86_64 -arch arm64' CFLAGS='-O2 -arch x86_64 -arch arm64' DLEXT=dylib OSARCH=darwin ./compileMbedtls.sh
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: darwin
          path: mbedtls-lib/bin/darwin/*
          if-no-files-found: error

  compile-windows:
    name: "compile: windows"
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container:
      image: dockcross/windows-static-x64
    steps:
      - uses: actions/checkout@v4
      - name: Compile
        env:
          MBEDTLS_VERSION: ${{ inputs.mbedtlsVersion }}
        run: WINDOWS=1 LDFLAGS='-lbcrypt -lws2_32 -lwinmm -lgdi32 -L. -static-libgcc' DLEXT=dll OSARCH=win32-x86-64 ./compileMbedtls.sh
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: win32-x86-64
          path: mbedtls-lib/bin/win32-x86-64/*
          if-no-files-found: error
